torch>=1.4.0
torchvision>=0.2.1
imageio
imageio-ffmpeg
matplotlib
configargparse
tensorboard>=1.15.0
tqdm
opencv-python
tk
mediapy
git+https://github.com/openai/CLIP.git
git+https://github.com/NVlabs/tiny-cuda-nn/#subdirectory=bindings/torch
git+https://github.com/kornia/kornia
numpy==1.23.1

qtpy
opencv-python
scipy
paddleseg
albumentations
cython
pyyaml
easydict

lpips
scikit-video
ffmpeg
pytorch-ignite
